/*-- scss:defaults --*/

// Colors from the Prism palette at https://carto.com/carto-colors/
$navbar-bg: #666666;

$clr-alexander: #1D6996;
$clr-zoe: #5F4690;
$clr-benjamin: #0F8554;
$clr-miriam: #CC503E;
$clr-rachel: #38A6A5;
$clr-nancy: #94346E;
$clr-andrew: #E17C05;

/*-- scss:rules --*/

.btn-alexander {
    @include button-variant($clr-alexander, darken($clr-alexander, 7.5%), color-contrast($clr-alexander));
}

.bg-alexander {
    background-color: $clr-alexander;
    color: color-contrast($clr-alexander);
}

.btn-zoe {
    @include button-variant($clr-zoe, darken($clr-zoe, 7.5%), color-contrast($clr-zoe));
}

.bg-zoe {
    background-color: $clr-zoe;
    color: color-contrast($clr-zoe);
}

.btn-benjamin {
    @include button-variant($clr-benjamin, darken($clr-benjamin, 7.5%), color-contrast($clr-benjamin));
}

.bg-benjamin {
    background-color: $clr-benjamin;
    color: color-contrast($clr-benjamin);
}

.btn-miriam {
    @include button-variant($clr-miriam, darken($clr-miriam, 7.5%), color-contrast($clr-miriam));
}

.bg-miriam {
    background-color: $clr-miriam;
    color: color-contrast($clr-miriam);
}

.btn-rachel {
    @include button-variant($clr-rachel, darken($clr-rachel, 7.5%), color-contrast($clr-rachel));
}

.bg-rachel {
    background-color: $clr-rachel;
    color: color-contrast($clr-rachel);
}

.btn-nancy {
    @include button-variant($clr-nancy, darken($clr-nancy, 7.5%), color-contrast($clr-nancy));
}

.bg-nancy {
    background-color: $clr-nancy;
    color: color-contrast($clr-nancy);
}

.btn-andrew {
    @include button-variant($clr-andrew, darken($clr-andrew, 7.5%), color-contrast($clr-andrew));
}

.bg-andrew {
    background-color: $clr-andrew;
    color: color-contrast($clr-andrew);
}
